In [1]:
# -*- coding: utf8 -*-

In [2]:
from pyspark import SparkConf, SparkContext
from pyspark.sql import SQLContext
conf = SparkConf().setAppName("hospitalDisease")
sc = SparkContext(conf=conf)

In [3]:
sqlContext = SQLContext(sc)

### load入院诊断数据

In [5]:
import pandas as pd
#829177
diaPath = "hospitalData/admissionDiagnosis.csv"
pd_dia = pd.read_csv(diaPath,  encoding='utf8').drop_duplicates()
pd_dia.count()

/opt/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2,7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Unnamed: 0             342352
id                     342352
ar_id                  342352
disease_code           180739
disease                323129
district_code          342049
node_code              342352
diagnosis_date         180745
diagnosis_type_code    180745
diagnosis_type_name    118536
diagnosis_basis        342352
dtype: int64

### load入院记录数据

In [8]:
import pandas as pd
#pd_poc = pd.read_csv("datasets/hospitaldisease-201305after.csv",  encoding='utf8').drop_duplicates()
pd_poc = pd.read_csv("hospitalData/hospitaldisease-201305after_match20171129.csv",  encoding='utf8').drop_duplicates()

/opt/anaconda3/lib/python3.5/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [9]:
pd_poc.head(2)

,NAME,ID_NUM,SEX_CODE,SEX_NAME,DISEASE_CODE,DISEASE,ADMISSION_DATE,Code,DiseaseICD10,SecondCode,SecondType,FirstCode,FirstType
0,徐志刚,222403198304026016,1,男,T93.501,下肢肌肉损伤后遗症,20150402 13:50:02,T93.501,下肢肌肉损伤后遗症,T90-T98,损伤、中毒和外因的其他后果的后遗症,S00-T98,损伤、中毒和外因的某些其它后果
1,张俊哲,370123199706200034,1,男,T93.501,下肢肌肉损伤后遗症,20150701 15:08:57,T93.501,下肢肌肉损伤后遗症,T90-T98,损伤、中毒和外因的其他后果的后遗症,S00-T98,损伤、中毒和外因的某些其它后果

### load ICD-10编码标准

In [10]:
import pandas as pd
pd_icd10 = pd.read_excel("./datasets/ICD-10.xlsx", sheet_name="icdsecondNew")
pd_icd10_new = pd_icd10[["Code","Disease","SecondCode","SecondType","FirstCode","FirstType"]]
pd_icd10_new = pd_icd10_new.rename(columns={'Disease': 'DiseaseICD10'})

In [11]:
def doListFormat(diseaseList):
    for i in range(len(diseaseList)):
        if pd.isnull(diseaseList[i]):
            diseaseList[i] = ""
        diseaseList[i] = diseaseList[i].strip()#.encode("utf8")
    return diseaseList

In [13]:
def list2Save(disList, f):
    disList = doListFormat(disList)
    disLen = len(disList)
    disNum = int(disLen/100)
    #print("%d %d" %(disLen, disNum))
    i=0
    for i in range(disNum):
        tmpStr = ""
        #print(disList[100*i:100*(i+1)])
        tmpStr = " ".join(disList[100*i:100*(i+1)])
        f.write(tmpStr+"\n")
    tmpStr = ""
    tmpStr = " ".join(disList[100*i:disLen])
    f.write(tmpStr+"\n")
    #f.flush()
    #f.close()